#header {
  background-color: #FFA500;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

#logo {
  height: 105px; /* Ajusta esto según el tamaño que desees para el logo */
  margin-right: 15px; /* Añade un margen entre el logo y el título */
  border: 5px solid #000000; /* Agrega un borde a la imagen */
}

.inicio-content {
  display: flex;
  align-items: center; /* Alinea el texto y la imagen al inicio del contenedor */
}

.inicio-text {
  flex: 0.75; /* Permite que el texto ocupe todo el espacio disponible */
}

.inicio-text p {
  margin-bottom: 20px; /* Agrega un margen al final de cada párrafo para separarlos */
  text-align: justify; /* Justifica el texto */
}

.inicio-img {
  width: 25%; /* Cambia esto al tamaño que desees */
  margin-left: 100px; /* Agrega un margen a la izquierda de la imagen para separarla del texto */
  border: 10px solid #FFA500; /* Agrega un borde a la imagen */
  transition: transform .2s; /* Animación suave */
}

.inicio-img:hover {
  transform: scale(1.1); /* Al pasar el cursor, la imagen se amplía al 110% de su tamaño original */
}

#nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  
#nav-menu li {
  float: left;
}
  
#nav-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
#nav-menu li a:hover {
  background-color: #111;
}


#nav-menu-index ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  
#nav-menu-index li {
  float: right;
}
  
#nav-menu-index li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
#nav-menu-index li a:hover {
  background-color: #111;
}

.section {
  margin: 20px;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.sensor-value {
  margin-bottom: 20px;
}
  
.chart-container {
  /* estilos para tu contenedor de gráficos, por ejemplo: */
  height: 300px; /* o cualquier altura que desees */
}
  
/* Estilos para los botones que muestran los gráficos */
.sensor-value button {
  /* estilos para botón: */
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #4CAF50; /* Verde por ejemplo */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.sensor-value button:hover {
  background-color: #45a049; /* Un verde más oscuro para el hover */
}

.button-style {
  /* Aquí puedes agregar el estilo que desees para tus botones */
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #f69d3f; /* Naranja por ejemplo */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container {
  background-color: #f7df86;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  text-align: center;
  margin-top: 25px;
  margin-left: min(20%, 50%);
}

.form-container h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-container input, .form-container select {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container .form-btn {
  background-color: #f69d3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.form-container .form-btn:hover {
  background-color: #f7c086;
}

.form-container p {
  color: #333;
}

.form-container a {
  color: #45a049;
}

.form-container a:hover {
  text-decoration: underline;
}
  